.navbar {
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $black;
    color: $white;
    &__brand {
        width: 230px;
        padding-left: 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 18px;
        text-transform: uppercase;
    }
    &__icon {
        height: 40px;
        width: 50px;
        svg {
            height: 30px!important;
            width: 30px!important;
        }
    }
    &__user {
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80px;
        border-left: 0.5px solid $white;
    }
    &__dropdown {
        color: $white;
        background-color: $black;
        width: 200px;
        position: absolute;
        right: 0;
        top: 70px;
        border-top: solid 1px $white;
        .d-item {
            height: 30px;
            text-align: center;
            cursor: pointer;
        }
    }
}