.field {
    width: 100%;
    .label {
        font-weight: bold;
    }
}

.input:active, .input:focus, .input:hover {
    border-color: $theme-primary!important;
    box-shadow: 0 0 0 0.125em $light!important;
}

.button:active, .button:focus, .button:hover {
    border-color: $theme-primary!important;
    box-shadow: 0 0 0 0.125em $light!important;
}

.button {
    border-color: $theme-primary;
    color: $theme-primary;
}