$black: rgb(48, 48, 48);
$white: rgb(255, 255, 255);
$gray: rgb(245, 245, 245);
$dark-gray: rgb(120, 120, 120);
$theme-primary: rgb(20, 148, 222);
$light: rgb(222, 241, 252);
$success: rgb(118, 245, 122);
$success-dark: rgb(87, 217, 91);
$success-light: rgb(161, 255, 164);
$failure: rgb(255, 46, 46);
$failure-light: rgb(255, 209, 209);
$failure-dark: rgb(194, 33, 33);
